body 
{
    background-color:#7a1212;
    text-align: center;
    padding-bottom: 50px;
}

a
{
    font-size: large;
    color: white;
}

h2
{
    font-size: 25px;
    padding-top: 16px;
}

h3
{
    font-size: 20px;
    padding-top: 16px;
}

p
{
    background-color: rgb(233, 212, 163);
    margin: 0 auto;
    width: 1000px;
    border-radius: 20;
    
    text-indent: 40px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

#outerColor
{
    background-color: #8f3e3e;
    margin: 0 auto;
    width: 1200px;
    padding-bottom: 30px;
}

#innerColor
{
    background-color: rgb(39, 29, 8);
    margin: 0 auto;
    width: 1100px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#image
{
    margin: 0 auto;
    position: relative;

    height: 200px;
    width: 200px;
    border-radius: 50%;

    display: flex;
    overflow: hidden;
    transform: scale(1.2);
}

#image img
{
    width: 110%;
    object-fit: contain;
    transform: scale(1.7) translateY(25px) translateX(0px);
}

#padding
{
    padding-top: 20px;
    padding-bottom: 40px;
}

.bubblePos
{
    position: fixed;
    left: -10px; 
    top: 50%;
    transform: translateY(-50%) translateX(0px);
    transition: transform 0.5s ease;
}

.bubblePos.active
{
    transform: translateY(-50%) translateX(220px);
}

.bubble img
{
    width: 35px;
    height: 35px;

    transform: scale(1.4) translateX(1px);
}

.bubble
{
    background-color: black;
    
    width: 35px;
    height: 35px;
    border-radius: 50%;
    
    display: flex;
    transition: transform 0.1s ease;
}

.bubble:hover
{
    transform: translateX(0px) scale(1.4);
}

.navBar
{
    position: fixed;
    top: 50%;
    left: 0;

    width: 200px;
    height: auto;
    border-radius: 2%;
    
    padding: 10px;
    background-color: black;
    color: white;
    
    transform: translate(-100%, -50%);
    transition: transform 0.5s ease;
}

.navBar.active
{
    transform: translate(0, -50%);
}